@import url("./css/reset.css");
@import url("./css/normalize.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,
body {
  height: 100%;

  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #232323;
  color: white;
}

.container {
  margin: 0 auto;
  text-align: center;
}

/* 헤더 */

.header {
  background-color: steelblue;
}

.header p {
  font-size: 1.2rem;
  padding: 20px 0;
}
.header span {
  font-size: 3.5rem;
}

/* 메인 콘텐츠 영역 */

.main .score {
  font-size: 1.2rem;
  margin-top: 20px;
}
.rgbs {
  font-size: 100%;
  font-weight: 500;
  letter-spacing: 2px;
}

.color-content {
  font-size: 1.6rem;
  margin-top: 200px;
}

.color-options {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.option {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 30px;
  margin: 12px;
  transition: all 0.5s ease-in-out;
}

/* 클릭 시 배경을 덮어쓴다 */
.option.extend {
  transform: scale(50);
}

/* 모달 */


.modal-right {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
}
.modal-right.show {
  display: block;
  position: relative;
  font-size: 300%;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  transform: translateY(-50%);
}
.modal-wrong {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
}
.modal-wrong.show {
  display: block;
  font-size: 2rem;
  position: relative;
  font-size: 300%;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  transform: translateY(-50%);
}

.modal-wrong span {
  font-size: 1.4rem;
}

/* 버튼 디자인 */

button {
  background: transparent;
  margin-top: 120px;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.5;
  color: white;
  height: 50px;
}
